<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NBA Games</title>
</head>
<body>
    <h1>NBA Games</h1>
    <ul>
        {% for game in games %}
            <li>
                {{ game['home_team']['full_name'] }} vs {{ game['visitor_team']['full_name'] }}
                ({{ game['home_team_score'] }} - {{ game['visitor_team_score'] }})
            </li>
        {% endfor %}
    </ul>
</body>
</html>
